body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #007bff;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #007bff;
}

input[type="text"] {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.detail-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007bff;
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    #map {
        height: 300px;
    }

    h1 {
        font-size: 1.5rem;
    }
}